@import '~antd/dist/antd.css';

.user-master-main-wrapper{
    margin: 2% 1%;
    padding: 1% 0;
    background-color :white ; 
    border-Radius: 15px;
}


.user-manager-header-wrapper{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
     margin:2%; 
     border-bottom: 1px solid gray;
 }
 
.user-manager-header-wrapper h1{
    width: 250px;
    margin: 0;
    padding:1% 1% 2% 0;
    font-size: 30px;
}

.user-manager-table-wrapper{
    margin:2%;
}

.user-manager-form{
    padding-top: 20px;
}
.user-manager-form .form-item{
    display: flex; 
    justify-content: space-between;
}
.user-manager-form .input{
    width: 100%;  
}
.user-manager-form .button{
    width: 100%; 
    margin-left: -1px;   
}